
@media (max-width: 1150px) {
  .pra{
    width: 100% !important;
  }
}
@media (max-width: 850px) {
  header {
    position: relative;
    background: black;
  }
  menu ul {
    flex-direction: column;
    position: absolute;
    right: 5px;
    top: 80px;
    text-align: center;
    padding: 0px 40px;
    /* padding: 34px 40px; */
    background: black;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  menu ul.show {
    padding: 34px 40px;
    height: auto;
  }
  .header-cta-btn {
    display: none;
  }
  .menu-toggle-btn {
    display: block !important;
    cursor: pointer;
  }
  .hide_btn{
    display: none !important;
  }
  .menu-toggle-btn div {
    width: 24px;
    height: 2px;
    background: #fff;
    margin: 5px;
    transition: 0.3s;
  }
  .menu-toggle-btn.active .i-one {
    transform: rotate(45deg) translateX(10px);
  }
  .menu-toggle-btn.active .i-two {
    width: 0;
  }
  .menu-toggle-btn.active .i-three {
    transform: rotate(-45deg) translateX(10px);
  }
  .swiper-pagination-bullet i,
  .swiper-pagination-bullet {
    width: 150px;
  }
  .swiper-pagination-bullet em {
    opacity: 0;
    display: none;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    justify-content: center;
    bottom: var(--swiper-pagination-bottom, 126px);
    position: absolute;
    bottom: 30px;
  }
  video {
    object-fit: cover;
    height: 100vh;
  }
  .connecting-innner {
    width: 90%;
  }
  .white-circle {
    margin-top: 52px;
    width: 380px;
    margin: 20px auto;
    height: 380px;
  }
  .white-circle img {
    height: 100%;
    position: absolute;
    left: 33%;
    top: -6%;
  }
  .cocktails-section {
    text-align: center;
  }
  .footer-links {
    flex-wrap: wrap;
  }
  .hero-content {
    left: 0;
    top: 38%;
    margin: 0 10px;
  }
  /* .liquid-sec-image {
    display: none;
  } */
  .mega-menu {
    display: none;
  }
  .gross{
    font-size: 25px;
    font-weight: 400;
   }
   .nav_bar{
    font-size: 25px;
    font-weight: 500;
    margin-top: 16px;
  
  }
  .Ingredients{
    font-size: 30px;
    font-weight: 600;
  }
  .border{
    margin-top: 0;
  }
  /* Vodka Page Hore  section change the image  size start */
  .hero-section-vodka {
    height: 700px;
  }
    /* Vodka Page Hore  section change the image  size close */
    .investor{
      display: flex;
      flex-direction: column-reverse;
    }
    .pra{
      width: 100% !important;
    }
    .pra_teams{
      width: 100% !important;
    }
    
   
}
@media (max-width: 600px) {
  .slider-content {
    max-width: 400px;
  }
  .input-data input,
  .input-data select {
    width: 90%;
  }
  .section-title {
    font-size: 28px;
  }
  .section-heading {
    text-align: center;
    font-size: 30px;
  }
  .gallery-section .gl img {
    height: 400px;
    object-fit: cover;
  }
  .gallery-section .gl .gl-content {
    width: 90%;
  }
  .text{
    font-size: 32px !important;
    width:580px !important;
    border-radius: 5px;
    
  }
  .text2{
    font-size: 16px !important;
    width:100vw !important;
    padding: 30px;
    border-radius: 5px;
  }
  .gross{
    font-size: 25px;
    font-weight: 400;
   }
   .nav_bar{
    font-size: 25px;
    font-weight: 500;
    margin-top: 16px;
  
  }
  .Ingredients{
    font-size: 30px;
    font-weight: 600;
  }
  .border{
    margin-top: 0;
  }
  /* Vodka Page Hore  section change the image  size start */
  .hero-section-vodka {
    height: 500px;
  }
    /* Vodka Page Hore  section change the image  size close */
    .Our_story-bg {
      height: 600px;
    }
    .investor{
      display: flex;
      flex-direction: column-reverse;
    }
    .pra{
      width: 100% !important;
    }
    .pra_teams{
      width: 100% !important;
    }
      /* last added css 11 march */
  .brand_image_big-disply{
    display: block;
  }
  .brand_image_small-disply{
    display: none;
  }
  .hero-content {
    left: 0;
    top: 32%;
    margin: 0 10px;
  }

  .hero-section-about {
    height: 62vh;
  }
   
}
@media (max-width:575px) {
  .work figure img{
    width: 100%;
     height: 100%;
    
  }
  .Our_story-bg {
    height: 570px;
  }
  .text3{
    width: 580px
  }
  .investor{
    display: flex;
    flex-direction: column-reverse;
  }
  .pra_teams{
    width: 100% !important;
  }

  /* last added css 11 march */
  .brand_image_big-disply{
    display: block;
  }
  .brand_image_small-disply{
    display: none;
  }
  .hero-section-about {
    height: 62vh;
  }
}
@media (max-width: 450px) {
  .swiper-pagination-bullet i,
  .swiper-pagination-bullet,
  .swiper-pagination-bullet b {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .slider-content {
    max-width: 350px;
  }
  .white-circle {
    width: 280px;
    height: 280px;
    border-width: 30px;
  }
  .slider-content {
    left: 0;
  }
  .text{
    font-size: 22px !important;
    width:420px !important;
    border-radius: 5px;
    
  }
  .text2{
    font-size: 16px !important;
    width:420px !important;
    border-radius: 5px;

  }
  .gross{
    font-size: 25px;
    font-weight: 400;
   }
   .gross{
    font-size: 25px;
    font-weight: 400;
   }
   .nav_bar{
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
  }
  .Ingredients{
    font-size: 25px;
    font-weight: 600;
  }
  .border{
    margin-top: 0;
  }
  
  /* Vodka Page Hore  section change the image  size start */
  .hero-section-vodka {
    height: 400px;
  }
    /* Vodka Page Hore  section change the image  size close */
    .work figure img{
      width: 100%;
       height: 100%;
      
    }
    .Our_story-bg {
      height: 420px;
    }
    .text3{
      width: 400px !important;
      padding-right: 15px;
    }
    .text2{
      width: 400px !important;
      padding-right: 15px;
    }
    .investor{
      display: flex;
      flex-direction: column-reverse;
    }
    .pra{
      width: 100% !important;
    }
    .pra_teams{
      width: 100% !important;
    }

/* last added css 11 march */
    .brand_image_big-disply{
      display: block;
    }
    .brand_image_small-disply{
      display: none;
    }
    .hero-content {
      left: 0;
      top: 32%;
      margin: 0 10px;
    }
    .hero-section-about {
      height: 62vh;
    }
}
@media (max-width: 400px) {
  .white-circle {
    width: 200px;
    height: 200px;
    
  }
  .section-padding {
    padding: 0px 0;
  }
  .text{
    font-size: 19px !important;
    width:360px !important;
    border-radius: 5px;
    
  }
  .text2{
    font-size: 16px !important;
    width:360px !important;
    border-radius: 5px;
  }
  /* Vodka Page Hore  section change the image  size start */
  .hero-section-vodka {
    height: 400px;
  }
    /* Vodka Page Hore  section change the image  size close */

 .gross{
  font-size: 25px;
  font-weight: 400;
 }
 .nav_bar{
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;

}
.Ingredients{
  font-size: 25px;
  font-weight: 600;
}
.border{
  margin-top: 0;
}
.work figure img{
  width: 100%;
   height: 100%;
  
}
.headText{
  text-align: center;
}
.Our_story-bg {
  height: 550px;
}
.text3{
  width: 380px
}
.investor{
  display: flex;
  flex-direction: column-reverse;
}
.liquid-img{
  display: flex !important;
  align-items: center !important;
  justify-content:  center !important;
}
.pra{
  width: 100% !important;
}
.pra_teams{
  width: 100% !important;
}

/* last added css 11 march */
.brand_image_big-disply{
  display: block;
}
.brand_image_small-disply{
  display: none;
}
.hero-content {
  left: 0;
  top: 50%;
  margin: 0 10px;
}

.hero-section-about {
  height: 62vh;
}
}